---
import { Image } from "astro:assets"

import AboutModal from "../components/modals/AboutModal.astro"
import Library from "../components/Library.vue"
import SearchFilter from "../components/SearchFilter.vue"

import Layout from "../layouts/Layout.astro"

import Logo from "../assets/images/logo.png"

---

<Layout title="GD Music Library">
	<main class="w-[100dvw] lg:h-[100dvh] flex flex-col justify-between items-center text-slate-200">
		<section class="w-full flex flex-col items-center gap-4 py-2">
			<h1 class="sr-only">Geometry Dash Music Library</h1>
			<Image
				src={Logo}
				class="w-full lg:w-3/5"
				alt="Geometry Dash Music Library Logo"
			/>
			<SearchFilter client:load class="px-2 w-full lg:w-1/2" />
		</section>
		<section class="w-full flex flex-row justify-center grow px-4 py-2 overflow-y-auto">
			<Library client:load />
		</section>
		<footer class="flex flex-row gap-2 py-2">
			<p>This site is not affiliated with RobTop Games.</p>
			<button id="open-about-modal" class="text-teal-300 hover:text-teal-100 underline decoration-dashed hover:decoration-solid transition-colors">About</button>
			<AboutModal id="about-modal" class:list={['hidden']} />
		</footer>
	</main>
</Layout>

<script>
	document.getElementById('open-about-modal')?.addEventListener('click', () => {
		document.getElementById('about-modal')?.classList.remove('hidden')
	})
</script>
