---
import { AstroSeo } from '@astrolib/seo'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<AstroSeo
			title={title}
			description='Access Geometry Dash Music Library on the browser!'
			openGraph={{
				title: title,
				description: 'Access Geometry Dash Music Library on the browser!',
				site_name: 'Geometry Dash Music Library',
				type: 'website',
			}}
			twitter={{
				cardType: 'summary',
				site: '@qctfw77',
			}}
			/>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" />
	</head>
	<body class="bg-slate-900">
		<slot />
	</body>
</html>
